{% extends "test_dashboard.html" %}
{% load bootstrap4 %}
{% load render_table from django_tables2 %}

{% block form-header %}Update contact{% endblock form-header %}

{% block form-content %}
<form action="{{ app_path }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form form layout='horizontal' %}
   <div class="float-right">
        <a href="{% url 'contact:list' %}" class="btn btn-secondary">Cancel</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>

    <script>
      $( function() {
          $('#datepicker').attr('autocomplete', 'off');
          $("#datepicker").datepicker();
      } );
    </script>

{% endblock form-content %}

{% block table-header %}
    Phone & E-mail & Social Profile

            <div class="col-sm-auto float-right">
                <a class="btn btn-secondary" href="{% url 'contact:social-profile-create' pk=object.pk %}">Add Social Profile</a>
            </div>

            <div class="col-sm-auto float-right">
                <a class="btn btn-secondary" href="{% url 'contact:email-create' pk=object.pk %}">Add Email</a>
            </div>

             <div class="col-sm-auto float-right">
                <a class="btn btn-secondary" href="{% url 'contact:phone-create' pk=object.pk %}">Add Phone</a>
            </div>

{% endblock table-header %}

{% block table-render %}
    {% render_table phone_table %}
    <br>
    {% render_table email_table %}
    <br>
    {% render_table social_profile_table %}
{% endblock table-render %}